
.concertItem:hover .eventDescription { 
    display: block;
    
}
.parentDiv {
    text-align: center;
}

.concertItem:hover img { 
    opacity: 0.2;
}

.concertItem {
    display: inline-flex;
    position: relative;
}


.eventDescription {
    text-align: center;
    color: black !important;
    font-weight: bold;
    position: absolute;
    display: none;
    width: 100%;
    font-family: Georgia, serif !important; 
}

h5 {
    font-family: Georgia, serif !important; 
}